div#App {
  display: flex;
  align-items: center;
  justify-items: center;
  align-content: center;
  justify-content: center;
}

.bgi\:linear {
  background: linear-gradient(var(--tw-gradient-stops));
}
.bgi\:conic {
  background: conic-gradient(var(--tw-gradient-stops));
}
.bgi\:radial {
  background: radial-gradient(var(--tw-gradient-stops));
}
.bgi\:none {
  background: none;
}
.bgi\:linear\?force\=true {
  background: linear-gradient(var(--tw-gradient-stops)) !important;
}
.bgi\:conic\?force\=true {
  background: conic-gradient(var(--tw-gradient-stops)) !important;
}
.bgi\:radial\?force\=true {
  background: radial-gradient(var(--tw-gradient-stops)) !important;
}

.all\:unset {
  all: unset;
}
.all\:unset\?force\=true {
  all: unset !important;
}
